/* General Styling */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/bg.png");
    color: antiquewhite;
    max-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    position: absolute;
    top: 0px;
    padding: 5px;
    text-align: center;
    font-weight: bold;

}

section {
    margin-top: 30px;
    text-align: center;
    margin-bottom: auto;
}

a {
    text-decoration: none;
}
canvas{
    display: block;
    vertical-align:bottom;
}
.content{
    z-index: 100;
}
.body-wrapper, #info{
    min-height: 100%;
    margin:0 0 200px;
    height: inherit;
}

.row{
    margin-right:0;
}
.main-content {
    display: none; /* Hide until user enters username*/
}

/* Header */
.page-header {
    margin-top: 0;
}

.page-header h1 small {
    font-size: 20px;
    color: #f7e1f5;
}

.page-header h1 {
    /*font-size: 120%*/
    font-family: "Britannic Bold";
}

/* Welcome greeting */
.welcome {
    margin: 0;
    text-align: center;
}
#welcomeLine{
    margin-left: auto;
}


/* Search Bar */
.section-top {
    padding: 0;
    margin-top: 15px;
    text-align: center;
}
.search-bar .form-group{
    display: inline-block;
}
.search-bar {
    padding: 0;
    margin: auto;
}
.search-bar .form-control{
    max-width:90%;
    width:100%;
}
.search-bar .search-icon {
    font-size: 150%;
}

/* User Section */
#user-section {
    margin-top: 0;
    padding: 0;
    text-align: center;
}
.users-list {
    border: 1px solid #ccc;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    max-height: 300px;
    min-height: 300px;
    overflow-y: auto;
    margin-left: 5%;
}

.online-user {
    background-color: inherit;
    color: white;
}

.online-user:hover {
    background-color: #636363;
    color: white;
}

/* Style for login page */
.login-page {
    margin: auto;
    text-align: center;
    width: 50%;
}

.login-page .login-form label {
    font-size: 200%;
}

.login-page .login-form .usernameInput {
    border: 1px solid #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 150%;
    padding: 15px;
    width: 60%;
    color: black;
    position: relative;
    margin-top: 100px;
}

.login-page .login-form .usernameInput:focus {
    border: 1px solid #999;
    outline-width: 0;
}

.alert-username{
    display: none;
}

.alert-blankusername{
    display: none;
}

/*Site Footer*/

#footer {
    bottom: 0;
    /*height: 200px;*/
    left: 0;
    position: absolute;
    width: 100%;
}

#facebook_link {
    margin-right: 1%;
}

#site-desc {
    text-align: center;
    margin: 0 5%;
    padding: 5px;
    font-size: larger;
    color: #c0c0c0;
    clear: both;
    vertical-align: bottom;
}

.copyrights {
    color: #c0c0c0;
}

/* Waiting for Confirmation modal */
#waiting_message .cancel-button {
    background-color: inherit;
    margin-bottom: 15px;
}

#waiting_message .cancel-button {
}

#waiting_message .modal-body {
    color: #c0c0c0;
}

#waiting_message .modal-content {
    background-color: #262626;
}

#connection_request .modal-dialog .btn-reply .btn{
    margin-bottom: 5px;
    margin-right: 10px;
}

.message{
    margin-top: 15px;
}

.btn-reply{
    margin-top: 10px;
    margin-bottom: 20px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 30px;
    height: 30px;
    align-content: center;
    margin: auto auto 15px auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#waiting_message {
    vertical-align: middle;
    margin-top: 12%;
}

/* User Request Sidebar*/
#user-requests{
    font-size: larger;
    margin: auto;
    overflow-y: auto;
    padding-left: 20px;
    position: relative;
    text-align: center;
}
#user-requests .request-list{
    border: 1px solid #ccc;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    list-style-type: none;
    min-height:300px;
    max-height: 300px;
}
#user-requests .request-list li{
    border-bottom:1px solid #ccc;
    display: block;
    padding: 5px;
    background-color: inherit;
    color: white;
}
#user-requests .request-list li .btn{
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
    margin: 3px 1px;
    font-size: 50%;
    padding: 3px 4px;
}
#user-requests .request-list li .btn-danger{
    padding:3px 5px;
}
#user-requests .request-btn{
    margin-right: 5px;
    position: absolute;
    right: 5%;
}

/* Transfer Page */
.transfer-page{
    display: none;
}

.user-name {
    text-align: center;
}

.file-choose {
    color: whitesmoke;
    text-align: center;
    align-content: center;
}

/* File Upload Button */
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

button, input {
    line-height: normal;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

.inputfile + label {
    background-color: inherit;
    border: 1px solid whitesmoke;
    border-radius: 0.5rem;
    color: white;
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.file-choose #fileupload {
    text-align: center;
    margin-left: 44%;
}

#file_selection {
    font-size: medium;
}
#file-send-button{
    background-color: inherit;
    color: white;
}

.progress_bar {
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 40%;
}

#particles-js{
    width: 100%;
    height: 100%;
    background-color: #3c3c3c;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}



