/* General Styling */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: black;
    max-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    position: absolute;
    top: 0px;
    padding: 5px;
    text-align: center;
    font-weight: bold;

}

section {
    margin-top: 30px;
    text-align: center;
    margin-bottom: auto;
}

a {
    text-decoration: none;
}
canvas{
    display: block;
    vertical-align:bottom;
}
.content{
    z-index: 100;
}
.body-wrapper, #info{
    min-height: 100%;
    margin:0 0 200px;
    height: inherit;
}
#request-li:hover{
    font-size: 1.5em;
}

.row{
    margin-right:0;
}
.main-content {
    display: none; /* Hide until user enters username*/
}

/* Header */
.page-header {
    margin-top: 0;
}

.page-header h1 small {
    font-size: 20px;
    color: brown;
}

.page-header h1 {
    /*font-size: 120%*/
    font-family: "Britannic Bold";
}

/* Welcome greeting */
.welcome {
    margin: 0;
    text-align: center;
}
#welcomeLine{
    margin-left: auto;
}


/* Search Bar */
.section-top {
    padding: 0;
    margin-top: 15px;
    text-align: center;
}
.search-bar .form-group{
    display: inline-block;
}
.search-bar {
    padding: 0;
    margin: auto;
}
.search-bar .form-control{
    max-width:90%;
    width:100%;
}
.search-bar .search-icon {
    font-size: 150%;
}

/* User Section */
#user-section {
    margin-top: 0;
    padding: 0;
    text-align: center;
}
.users-list {
    border: 1px solid black;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    max-height: 300px;
    min-height: 300px;
    overflow-y: auto;
    margin-left: 5%;
}

.online-user {
    background-color: inherit;
    color: black;
    font-size: 16px;
    transition-duration:0.5s;
}

.online-user:hover {
    background-color: #2196F3;
    color: black;
    font-size: 1.5em;
}

/* Style for login page */
.login-page {
    margin: auto;
    text-align: center;
    width: 50%;
}

.login-page .login-form label {
    font-size: 200%;
}

.login-page .login-form .usernameInput {
    border: 1px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 150%;
    padding: 15px;
    width: 60%;
    color: black;
    position: relative;
    margin-top: 100px;
}

.login-page .login-form .usernameInput:focus {
    border: 1px solid #999;
    outline-width: 0;
}

.alert-username{
    display: none;
}

.alert-blankusername{
    display: none;
}

/*Site Footer*/

#footer {
    bottom: 0;
    /*height: 200px;*/
    left: 0;
    position: absolute;
    width: 100%;
}

#facebook_link {
    margin-right: 1%;
}

#site-desc {
    text-align: center;
    margin: 0 5%;
    padding: 5px;
    font-size: larger;
    color: black;
    clear: both;
    vertical-align: bottom;
}

.copyrights {
    color: black;
}

/* Waiting for Confirmation modal */
#waiting_message .cancel-button {
    background-color: inherit;
    margin-bottom: 15px;
}

#waiting_message .cancel-button {
}

#waiting_message .modal-body {
    color: #c0c0c0;
}

#waiting_message .modal-content {
    background-color: #262626;
}

#connection_request .modal-dialog .btn-reply .btn{
    margin-bottom: 5px;
    margin-right: 10px;
}

.message{
    margin-top: 15px;
}

.btn-reply{
    margin-top: 10px;
    margin-bottom: 20px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 30px;
    height: 30px;
    align-content: center;
    margin: auto auto 15px auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#waiting_message {
    vertical-align: middle;
    margin-top: 12%;
}

/* User Request Sidebar*/
#user-requests{
    font-size: larger;
    margin: auto;
    overflow-y: auto;
    padding-left: 20px;
    position: relative;
    text-align: center;
}
#user-requests .request-list{
    border: 1px solid black;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    list-style-type: none;
    min-height:300px;
    max-height: 300px;

}
.user_request_username{
    font-size: 20px;
    font-weight: 2;
    color: brown;
}

#user-requests .request-list li{
    border-bottom:1px solid #ccc;
    display: block;
    padding: 5px;
    background-color: inherit;
    color: black;
}
#user-requests .request-list li .btn{
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
    margin: 3px 1px;
    font-size: 50%;
    padding: 3px 4px;
}
#user-requests .request-list li .btn-danger{
    padding:3px 5px;
}
#user-requests .request-btn{
    margin-right: 5px;
    position: absolute;
    right: 5%;
}

/* Transfer Page */
.transfer-page{
    display: none;
}

.user-name {
    text-align: center;
}

.file-choose {
    color: black;
    text-align: center;
    align-content: center;
}

/* File Upload Button */
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 80%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    color: black;
    border-radius: 5px;
    border:black;
}
.js .inputfile hover {
    opacity: 100%;
    
}

button, input {
    line-height: normal;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

.inputfile + label {
    border: 1px solid grey;
    border-radius: 0.5rem;
    color: black
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

#file1 {
    width: 0%;
}
.file-choose #fileupload {
    text-align: center;
    margin-left: 44%;
}

.upload-button {
    background: #49d1e1;
    color:white;
    opacity:0.8;
    transition-duration: 0.5s;
}
 
.upload-button:hover{
    opacity: 1;
    box-shadow: 5px 5px 2px grey;

} 
#sequence {
    border-radius: 10px;
    border: 5px black;

}
#file-choose-send {
     border-radius: 10px;
    border: 5px black;

}


#file_selection {
    font-size: medium;
}
#file-send-button{
    border-radius: 10px;
    border: black;
}
#file-send-button{
    opacity: 0.8;
    color: white;
    transition-duration: 0.5s;
}
#file-send-button:hover{
    opacity: 1;
    color: white;
    box-shadow: 5px 5px 2px grey;
}

btn:hover {
    box-shadow: 5px 5px 2px grey;
}


.progress_bar {
    display:none; /* sholud only be displayed when actual sending occurs*/
    margin-left: 
    10px;
    padding-left: 10px;
    margin-right: 40%;
}

#particles-js{
    width: 100%;
    height: 100%;
    background-color: #3c3c3c;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

/*chat widget here
*/
.chatbox-file-history-recieved{
    color: green;
}
.chatbox-file-history-sent{
    color: brown;
}
.chatbox-file-history-cancel{
    color: red;
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
