/* General Styling */
*{
    margin: 0;
    padding:0;
}

body{
    max-width: 100%;
    min-height:100%;
    width: 100%;
}
section{
    margin-top:30px;
    overflow: auto;
    text-align: center;
    margin-bottom: auto;
}
a{
    text-decoration: none;
}

.main-content{
    display: none;   /* Hide until user enters username*/
}
/* Header */
.page-header{
    margin-top: 0px;
}
.page-header h1 small{
    font-size: 15px;
}

/* Search Bar */
.section-top{
    padding: 0;
    margin-top: 15px;
    text-align: center;
}
.search-bar{
    padding-right: 0;
    position: relative;
    right: 0%;
}
.search-bar .search-icon{
    font-size: 150%;
}

/* User Section */
#user-section{
    margin-top: 0;
    padding:0;
}
.online-user{
    margin-bottom: 5px;
}

/* Style for login page */
.login-page{
    margin: auto;
    text-align: center;
    width:50%;
}
.login-page .login-form label{
    font-size:200%;
}
.login-page .login-form .usernameInput{
    font-size:150%;
    padding:25px;
}

/* Site Footer */
.footer{
    margin-bottom: auto;
}
#facebook_link{
    margin-right: 1%;
}

#site-desc{
    text-align: center;
    margin: 0 5%;
    padding: 5px;
    clear: both;
}

/* Waiting for Confirmation modal */
.button_cancel{
    margin-bottom: 5px;
}
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 30px;
    height: 30px;
    align-content: center;
    margin: auto;
    margin-bottom: 15px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#waiting_message{
    vertical-align: middle;
    margin-top: 12%;
}

/* Transfer Page */

.user-name{
    text-align: center;
}

.file-choose{
    text-align: center;
    align-content: center;
}
#file_selection{
    font-size: medium;
}

.progress_bar{
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 40%;
}




