body{
    width: 100%;
    min-height:100%;
}
section{
    clear:both;
    margin-top:30px;
    text-align: center;
}
a{
    text-decoration: none;
}
.section-top{
    text-align: center;
    width:60%;
}
.room-creator{
    margin: 8px;
}
.search-bar{
    position: relative;
    right: 0%;
}
footer{
    position: absolute;
    bottom: 0px;
    width:100%;
}

#site-id{
    float: left;
    padding: 5px;
}
.footer-nav{
    margin:0 10%;
}
footer .footer-nav ul li{
    display: inline-block;
    float: right;
    padding: 5px;
}
#site-desc{
    text-align: center;
    margin: 0 5%;
    padding: 5px;
    clear: both;
}