#connected-page {
  .main-section:first-child > main {
    margin: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  #approve-files {
    overflow: auto;

    table {
      width: 100%;

      &,
      th,
      td {
        border-collapse: collapse;
      }

      label {
        display: block;
        width: 100%;
      }

      thead tr {
        background-color: #007cf957;
      }

      td,
      th {
        padding: 5px;

        &:first-child {
          padding: 0;

          label {
            padding: 5px;
          }
        }
      }

      tbody tr:nth-child(even) {
        background-color: #1bd9df1a;
      }
    }

    button {
      margin: auto;
      display: block;
      margin-top: 10px;
      background-color: white;
      color: black;
      padding: 0.4rem 1em;
      border: 3px solid #002afb96;
      font-size: inherit;
      border-radius: 1rem;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #1d41f0;
        color: white;
      }
    }
  }

  #wait-approval,
  #processing-files {
    display: flex;
    flex-direction: column;
    overflow: auto;

    > *:first-child {
      margin-top: auto;
    }

    > *:last-child {
      margin-bottom: auto;
    }

    p {
      margin: 5px 10px;
      text-align: center;
      font-size: 1.2rem;

      @media (max-width: 767px) {
        font-size: 1rem;
      }
    }

    .spinner {
      margin: auto;
      margin-bottom: 20px;
      color: var(--main-color);
    }
  }
}
