#connected-page {
  .main-section:nth-child(1) > main {
    margin: 0;
  }

  .main-section:nth-child(1) div {
    height: 100%;
    flex: 1 1 0;
    overflow: hidden;
    margin: 0;
  }

  .main-section:nth-child(1) main {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  #select-files-send {
    background-color: blue;
  }

  #wait-approval {
    background-color: green;
  }

  #file-progress {
    background-color: red;
  }
}
