.spinner {
  color: black;
  border: 0.35rem solid currentColor;
  border-radius: 50%;
  border-left-color: transparent;
  animation: 1s infinite rotate360deg cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 3rem;
  width: 3rem;
  flex: 0 0 auto;
}

@keyframes rotate360deg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
