<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <title> fileSend</title>
        <script src="/socket.io/socket.io.js"> </script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	    <script src="js/adapter.js"> </script>
    </head>
    <body>
        <%- body %>
        <div class="footer-copyright text-center py-3">
            <hr>
            Developed with <i class="fas fa-heart" style="color:#d14f4b;"></i> by<a href="https://devclub.in/"> DevClub IITD</a>
        </div>
        <script src="js/bundle.js"> </script>
    </body>
</html>