<main style="display: grid; min-height: 80vh; align-items: center;">
    <div class="container">
        <div class="row justify-content-center mt-4" >
            <div class="h1"><i class="fas fa-share-alt-square" style="color: #d14f4b"></i> &nbsp;file<b><span style="color: #d14f4b">Send</span></b></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-custom">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Welcome to FileSend
                        </h5>
                        <div>
                            <div class="form-label-group">
                                <input type="text" name="username" class="input-custom form-control" id="username"
                                       placeholder="Enter Username" required><br>
                            </div>
                            <button class="btn btn-lg btn-secondary btn-block text-uppercase btn-custom" type="submit"
                                    value="Start Sending" id="startSendingButton">Start Sending
                            </button>
                            <br>
                            <!-- Need Help ? <a href="/users/register">See</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>