body{
    margin: 0px;
}

main {
    vertical-align: middle;
}

.card-custom {
    border-radius: 1rem;
    box-shadow: 0 0rem 2rem 0 rgba(0, 0, 0, 0.1);
}

.form-label-group .input-custom {
    border-radius: 2rem;
}

.input-custom {
    border-radius: 2rem;
}

.card .btn-custom {
    line-height: 1.5rem;
}

.btn-customred {
    color: #fff;
    background-color: #d14f4b;
    border-color: #d14f4b;
}

.input-group .input-group-prepend .input-group-text{
    border-bottom-left-radius: 2rem; border-top-left-radius: 2rem;
}

.navbar-brand .title, .container .title{
    color: black;
    text-decoration: none;
}

.nav-item{
    margin-right: 10px;
}

.custom-flex-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.custom-flex-child{
    width:202px;
    margin: 10px;
}



.custom-flex-child img{
    width: 200px;
    height: 200px;
    background-image: url("http://cdn.walkthroughindia.com/wp-content/uploads/2018/04/ridleybikes.jpg");
    background-size: cover;
    background-position: center;
}

.maxLines2Text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.5rem;     /* fallback */
    max-height: 3rem;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.comment-box{
    border-bottom: 1px dotted;
}

.btn-select {
    width: 30%;
}

.in_msg_img img {
    display: inline-block;
    width: 6%;
}

.rcvd_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;   
    max-width: 80%;
}

.rcvd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 8px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
  }

.out_msg {
    margin-bottom: 2em;
    margin-right: 1em;
}  

.sent_msg {
    float: right;
    max-width: 80%;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 8px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
}

.input_msg_write {
    width: 100%;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0);
     /* none repeat scroll 0 0; */
    border: medium none;
    color: #4c4c4c;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    /* min-height: 48px; */
    width: 80%;
    float: left;
    padding: 0.75em;
    margin-bottom: 0.25em;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
}

.msg_send_btn {
    float: right;
    background: #05728f;
    border: medium none;
    border-radius: 5px;
    border-color: #fff;
    cursor: pointer;
    font-size: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    position: relative;
    top: 0.5em;
    right: 1em;
}

.lt_side{
    width: 100%
}

.rt_side{
    width: 100%;
}

/* @media only screen and (max) */

@media only screen and (min-width: 680px) {
    .rt_side {
        float: right;
        width: 50%;
    }

    .lt_side {
        float: left;
        width: 50%;
    }
}
